#Allow the place games here to not be ignored
!games/PLACE_GAMES_HERE

#Ignore the games folder
games/*

#Ignore built chipGo
chipGo

#Ignore build chipGo Directory
build/*

#Allow the gododir file not to be ignored
!Gododir/main.go

#Ignore all other Gododir files
Gododir/*
